<h1 class="my-4">Admin Dashboard</h1>
<div class="list-group">
  <a href="/dashboard/categories" class="list-group-item list-group-item-action">Manage Categories</a>
  <a href="/dashboard/products" class="list-group-item list-group-item-action">Manage Products</a>
</div>